<div class="center hero-unit">
  <h1>Comptracker</h1>
  <h4>Casinos take enough of your money. Never miss a comp.</h4>
  
  <%= link_to "Sign Up", signup_path, class: "btn"%> or <%= link_to "Sign In", signin_path, class: "btn" %>
  
  <!-- <%= link_to "Help", help_path %> -->
</div>
