<div class="center hero-unit">
  <h1>Comptracker</h1>
  <h4>The Casinos take enough of your money. Never miss a comp again.</h4>
  <%= link_to "Help", help_path %>
  <%= link_to "Sign Up", signup_path, class: "btn"%>
</div>
