<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	  <% if @accounts.any? {|account| account.type_of_account == "Total Rewards"}%>
	  	<div>
	  		<strong>Comps available at Harrah's, Bally's, Caesars, or Showboat:</strong> 
	  	</div>

			<div>
				<%= render "get_total_rewards_comps" %>
			</div>

	  <%end%>
  </body>
</html>